<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-fat-heading" data-cy="FatCreateUpdateHeading" jhiTranslate="soaplabApp.fat.home.createOrEditLabel">
        Create or edit a Fat
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="soaplabApp.fat.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="soaplabApp.fat.inci" for="field_inci">Inci</label>
          <input type="text" class="form-control" name="inci" id="field_inci" data-cy="inci" formControlName="inci" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="soaplabApp.fat.sapNaoh" for="field_sapNaoh">Sap Naoh</label>
          <input type="number" class="form-control" name="sapNaoh" id="field_sapNaoh" data-cy="sapNaoh" formControlName="sapNaoh" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="soaplabApp.fat.sapKoh" for="field_sapKoh">Sap Koh</label>
          <input type="number" class="form-control" name="sapKoh" id="field_sapKoh" data-cy="sapKoh" formControlName="sapKoh" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="soaplabApp.fat.lauric" for="field_lauric">Lauric</label>
          <input type="number" class="form-control" name="lauric" id="field_lauric" data-cy="lauric" formControlName="lauric" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="soaplabApp.fat.myristic" for="field_myristic">Myristic</label>
          <input type="number" class="form-control" name="myristic" id="field_myristic" data-cy="myristic" formControlName="myristic" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="soaplabApp.fat.palmitic" for="field_palmitic">Palmitic</label>
          <input type="number" class="form-control" name="palmitic" id="field_palmitic" data-cy="palmitic" formControlName="palmitic" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="soaplabApp.fat.stearic" for="field_stearic">Stearic</label>
          <input type="number" class="form-control" name="stearic" id="field_stearic" data-cy="stearic" formControlName="stearic" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="soaplabApp.fat.ricinoleic" for="field_ricinoleic">Ricinoleic</label>
          <input
            type="number"
            class="form-control"
            name="ricinoleic"
            id="field_ricinoleic"
            data-cy="ricinoleic"
            formControlName="ricinoleic"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="soaplabApp.fat.oleic" for="field_oleic">Oleic</label>
          <input type="number" class="form-control" name="oleic" id="field_oleic" data-cy="oleic" formControlName="oleic" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="soaplabApp.fat.linoleic" for="field_linoleic">Linoleic</label>
          <input type="number" class="form-control" name="linoleic" id="field_linoleic" data-cy="linoleic" formControlName="linoleic" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="soaplabApp.fat.linolenic" for="field_linolenic">Linolenic</label>
          <input type="number" class="form-control" name="linolenic" id="field_linolenic" data-cy="linolenic" formControlName="linolenic" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="soaplabApp.fat.iodine" for="field_iodine">Iodine</label>
          <input type="number" class="form-control" name="iodine" id="field_iodine" data-cy="iodine" formControlName="iodine" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="soaplabApp.fat.ins" for="field_ins">Ins</label>
          <input type="number" class="form-control" name="ins" id="field_ins" data-cy="ins" formControlName="ins" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
