<div>
  <h2 id="page-heading" data-cy="FatHeading">
    <span jhiTranslate="soaplabApp.fat.home.title">Fats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="soaplabApp.fat.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fat"
        [routerLink]="['/fat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="soaplabApp.fat.home.createLabel"> Create a new Fat </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fats?.length === 0">
    <span jhiTranslate="soaplabApp.fat.home.notFound">No fats found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="fats && fats.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="soaplabApp.fat.name">Name</span></th>
          <th scope="col"><span jhiTranslate="soaplabApp.fat.inci">Inci</span></th>
          <th scope="col"><span jhiTranslate="soaplabApp.fat.sapNaoh">Sap Naoh</span></th>
          <th scope="col"><span jhiTranslate="soaplabApp.fat.sapKoh">Sap Koh</span></th>
          <th scope="col"><span jhiTranslate="soaplabApp.fat.lauric">Lauric</span></th>
          <th scope="col"><span jhiTranslate="soaplabApp.fat.myristic">Myristic</span></th>
          <th scope="col"><span jhiTranslate="soaplabApp.fat.palmitic">Palmitic</span></th>
          <th scope="col"><span jhiTranslate="soaplabApp.fat.stearic">Stearic</span></th>
          <th scope="col"><span jhiTranslate="soaplabApp.fat.ricinoleic">Ricinoleic</span></th>
          <th scope="col"><span jhiTranslate="soaplabApp.fat.oleic">Oleic</span></th>
          <th scope="col"><span jhiTranslate="soaplabApp.fat.linoleic">Linoleic</span></th>
          <th scope="col"><span jhiTranslate="soaplabApp.fat.linolenic">Linolenic</span></th>
          <th scope="col"><span jhiTranslate="soaplabApp.fat.iodine">Iodine</span></th>
          <th scope="col"><span jhiTranslate="soaplabApp.fat.ins">Ins</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fat of fats; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/fat', fat.id, 'view']">{{ fat.id }}</a>
          </td>
          <td>{{ fat.name }}</td>
          <td>{{ fat.inci }}</td>
          <td>{{ fat.sapNaoh }}</td>
          <td>{{ fat.sapKoh }}</td>
          <td>{{ fat.lauric }}</td>
          <td>{{ fat.myristic }}</td>
          <td>{{ fat.palmitic }}</td>
          <td>{{ fat.stearic }}</td>
          <td>{{ fat.ricinoleic }}</td>
          <td>{{ fat.oleic }}</td>
          <td>{{ fat.linoleic }}</td>
          <td>{{ fat.linolenic }}</td>
          <td>{{ fat.iodine }}</td>
          <td>{{ fat.ins }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/fat', fat.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/fat', fat.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(fat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
