<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="fat">
      <h2 data-cy="fatDetailsHeading"><span jhiTranslate="soaplabApp.fat.detail.title">Fat</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ fat.id }}</span>
        </dd>
        <dt><span jhiTranslate="soaplabApp.fat.name">Name</span></dt>
        <dd>
          <span>{{ fat.name }}</span>
        </dd>
        <dt><span jhiTranslate="soaplabApp.fat.inci">Inci</span></dt>
        <dd>
          <span>{{ fat.inci }}</span>
        </dd>
        <dt><span jhiTranslate="soaplabApp.fat.sapNaoh">Sap Naoh</span></dt>
        <dd>
          <span>{{ fat.sapNaoh }}</span>
        </dd>
        <dt><span jhiTranslate="soaplabApp.fat.sapKoh">Sap Koh</span></dt>
        <dd>
          <span>{{ fat.sapKoh }}</span>
        </dd>
        <dt><span jhiTranslate="soaplabApp.fat.lauric">Lauric</span></dt>
        <dd>
          <span>{{ fat.lauric }}</span>
        </dd>
        <dt><span jhiTranslate="soaplabApp.fat.myristic">Myristic</span></dt>
        <dd>
          <span>{{ fat.myristic }}</span>
        </dd>
        <dt><span jhiTranslate="soaplabApp.fat.palmitic">Palmitic</span></dt>
        <dd>
          <span>{{ fat.palmitic }}</span>
        </dd>
        <dt><span jhiTranslate="soaplabApp.fat.stearic">Stearic</span></dt>
        <dd>
          <span>{{ fat.stearic }}</span>
        </dd>
        <dt><span jhiTranslate="soaplabApp.fat.ricinoleic">Ricinoleic</span></dt>
        <dd>
          <span>{{ fat.ricinoleic }}</span>
        </dd>
        <dt><span jhiTranslate="soaplabApp.fat.oleic">Oleic</span></dt>
        <dd>
          <span>{{ fat.oleic }}</span>
        </dd>
        <dt><span jhiTranslate="soaplabApp.fat.linoleic">Linoleic</span></dt>
        <dd>
          <span>{{ fat.linoleic }}</span>
        </dd>
        <dt><span jhiTranslate="soaplabApp.fat.linolenic">Linolenic</span></dt>
        <dd>
          <span>{{ fat.linolenic }}</span>
        </dd>
        <dt><span jhiTranslate="soaplabApp.fat.iodine">Iodine</span></dt>
        <dd>
          <span>{{ fat.iodine }}</span>
        </dd>
        <dt><span jhiTranslate="soaplabApp.fat.ins">Ins</span></dt>
        <dd>
          <span>{{ fat.ins }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/fat', fat.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
